{% extends 'dashboard/base.html' %}
​
{% block body %}

<form>
    <input type="button" value="Go back!" onclick="history.back()">
   </form>
   
<section class="section" style=" margin-left: 230px;">
    <div class="row">
        <div class="col-lg-10">
            <div class="card">
                <div class="card-body">
                    <div class="text-center">
                        <h5 class="card-title"> Client Asset Form </h5>
                    </div>

                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p}}
                        <button type="submit" class="btn btn-primary">Submit</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock body %}