{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <style>
        #id_employee {
            width: 100%;
        }

        #id_asset {
            width: 100%;
        }

        #id_asset_type {
            width: 100%;
        }

        #id_vendor {
            width: 100%;
        }
    </style>

    <title>{% block title %}Inventory Management{% endblock title %}</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="{% static 'img/favicon.png' %}" rel="icon">
    <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">



    <!-- Google Fonts -->
    <link href="{% static 'https://fonts.gstatic.com' %}" rel="preconnect">
    <link
        href="{% static  'https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet' %} ">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Vendor CSS Files -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/quill/quill.snow.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/quill/quill.bubble.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/remixicon/remixicon.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/simple-datatables/style.css' %}" rel="stylesheet">
    
    <!-- Template Main CSS File -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <!-- =======================================================
  * Template Name: NiceAdmin - v2.4.1
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
======================================================== -->

{% block css %}


{% endblock css %}


</head>

<body class="toggle-sidebar">
    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">
        <div class="d-flex align-items-center justify-content-between">
            <i style="color: black;" class="bi bi-list toggle-sidebar-btn"></i>
            &nbsp; &nbsp; 
                
            <a href="{% url 'dashboard' %}" class="logo d-flex align-items-center">
                <!-- <a href="base.html" class="logo d-flex align-items-center"> -->
                <img src="{% static 'img/tw.jpeg' %}" alt="">
                <span style="color: black;" class="d-none d-lg-block">Thoughtwin</span>
            </a>
            
        </div><!-- End Logo -->

        <!-- End Search Bar -->
        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">

                <li class="nav-item d-block d-lg-none">
                    <a class="nav-link nav-icon search-bar-toggle " href="#">
                        <i class="bi bi-search"></i>
                    </a>
                </li><!-- End Search Icon-->
            </ul>
        </nav>

        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">

                <li class="nav-item dropdown pe-3">
                    <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                        <img src="{% static 'img/tw.jpeg' %}" alt="Profile" class="rounded-circle">
                        <span style="color: black;" class="d-none d-md-block dropdown-toggle ps-2">{{ request.user.first_name }} {{ request.user.last_name }}</span>
                    </a><!-- End Profile Iamge Icon -->

                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                        <li  class="dropdown-header">
                            <h6>{{ request.user.first_name }}{{ request.user.last_name }}</h6>
                            <span>Director at Thoughtwin</span>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="{% url 'profile' %}">
                                <i class="bi bi-person"></i>
                                <span>My Profile</span>
                            </a>
                        </li>


                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="{% url 'signout' %}">
                                <i class="bi bi-box-arrow-right"></i>
                                <span>Sign Out</span>
                            </a>
                        </li>

                    </ul><!-- End Profile Dropdown Items -->
                </li><!-- End Profile Nav -->

            </ul>
        </nav><!-- End Icons Navigation -->

    </header>


    {% block sidebar %}
    {% include "dashboard/sidebar.html" %}
    {% endblock sidebar %}


    <main id="main" class="main">
        {% block body %}


        {% endblock body %}
    </main>


    <!-- Vendor JS Files -->
    <script src="{% static 'vendor/apexcharts/apexcharts.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'vendor/chart.js/chart.min.js' %}"></script>
    <script src="{% static 'vendor/echarts/echarts.min.js' %}"></script>
    <script src="{% static 'vendor/quill/quill.min.js' %}"></script>
    <!-- <script src="{% static 'vendor/simple-datatables/simple-datatables.js' %}"></script> -->
    <script src="{% static 'vendor/tinymce/tinymce.min.js' %}"></script>
    <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>

    <!-- Template Main JS File -->
    <script src="{% static '/js/main.js' %}"></script>
   
    <!------------------------ Data table For pdf,export-------------------------------->
    <script src="    https://code.jquery.com/jquery-3.5.1.js
    "></script>
    <script src="    https://cdn.datatables.net/1.13.3/js/jquery.dataTables.min.js
    "></script>
    <script src="    https://cdn.datatables.net/buttons/2.3.5/js/dataTables.buttons.min.js
    "></script>
    <script src="    https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js
    "></script>
    <script src="    https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js
    "></script>
    <script src="    https://cdn.datatables.net/buttons/2.3.5/js/buttons.html5.min.js
    "></script>
    <script src="    https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js
    "></script>
    <script src="    https://cdn.datatables.net/buttons/2.3.5/js/buttons.print.min.js
    "></script>
    <!-- <script src="https://code.jquery.com/jquery-3.6.1.min.js"
        integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#id_employee').select2();
        });
        $(document).ready(function () {
            $('#id_asset').select2();
        });

        $(document).ready(function () {
            $('#id_asset_type').select2();
        });
        $(document).ready(function () {
            $('#id_vendor').select2();
        });

    </script>
    <script>
        function myFunction() {
        var checkBox = document.getElementById("dis_patch");
        var text = document.getElementById("text");
        if (checkBox.checked == true){
            text.style.display = "block";
        } else {
            text.style.display = "none";
        }
        }
        </script>
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script> -->
        <script>
            $(function () {
                setTimeout(function () {
                if ($(".alert").is(":visible")){
                    $(".alert").fadeOut("fast");
                }
            }, 3000)
            });
        </script>
{% block script %}


{% endblock script %}


</body>

</html>