<!-- {% load static %}


{% if messages %}
{% for message in messages %}
<div class="container-fluid p-0">
  <div id = "messageError" class="alert {{ message.tags }} alert-dismissible" role="alert" >
    <button type="button" class="btn btn-close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="True"></span>
    </button>
    {{ message }}
  </div>
</div>
{% endfor %}
{% endif %}

{% if  form.errors %}
<div id="formError" >
  {% for field in form %}
      {% for error in field.errors %}
          <div  class="alert alert-danger">
              <strong>{{ error }}</strong>
          </div>
      {% endfor %}
  {% endfor %}
  {% for error in form.non_field_errors %}
      <div class="alert alert-danger">
          <strong>{{ error }}</strong>
      </div>
  {% endfor %}
  {% endif %}
</div>
<script src="{% static 'js/messages_display.js' %}"></script>
 -->
